.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.player-card-list {
    overflow-y: auto;
    flex-grow: 1;
    padding: 1rem;
    width: fit-content;
}

.button-group {
    padding: 1rem;
}